/* personal_website.css Jul 2017 by Marcos Bernal */
@CHARSET "ISO-8859-1";

/* Removing scrollbars in all body of html */
::-webkit-scrollbar {
    display: none;
}

/* Font for the text
* --------------------------------------- */
h1, h2, h3, h4, p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h4 {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 2.5em !important;
}

/* Font for the text
* --------------------------------------- */
body, html {
    height: 100%;
    line-height: 1.8;
}

p {
    margin-top: 1%;
    margin-botton: 1%;
    font-size: 1.1em !important;
    line-height: 105%;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.text_centered{
   margin: 0px auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}

.show {
    display:block !important;
}

/*==================================================================================
============================== NAVBAR MENU =========================================
==================================================================================*/


.w3-black .w3-bar {
    background-color: black; /*rgb(62, 71, 79);*/
}

.lang img{
    width: 20px;
    transform: translateY(calc(-50% + 4px));
}

#english_lang{
    background-color: #494949;
}

.responsive_menu {
   position: fixed;
   top: 30px;
   left: calc(100% - 80px);
   width: auto;
   outline: none;
   z-index: 1060 !important;
 }

 .responsive_menu .dropdown_button {
    background: url("../imgs/menu_collapse_black.png") no-repeat center;
    background-position: 50% 50%;
    background-color: none;

    width: 50px;
    height: 50px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 30%;
    border: 2px solid black;
    cursor: pointer;
    outline: none;
}

.responsive_menu .dropdown_button.alt {
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transition-duration:0.2s ;
}

.responsive_menu .dropdown_button:hover {
    background-color: rgba(255,255,255, 0.4);
}

.dropdown_button-content {
    display: none;
    position: absolute;
    left:auto;
    right:0;
    text-align: center;
    background-color: black;/* #f9f9f9; */
    opacity: 0.8;
    color: white;
    min-width: 120px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown_button-content a {
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown_button-content a:hover {
    background-color: #B2B2B2
}


/*==================================================================================
============================== WELCOME SECTION =====================================
==================================================================================*/
#Welcome {
    background: url('../imgs/me_and_bike_HDR_reduced_pasteu_6b.jpg') no-repeat;
    background-size: cover;
    min-height: calc(100% - 32px);
}

#Welcome .welcome_text{
    background-color: black;/*rgb(62, 71, 79) !important;*/
    margin-left: 5%;
    width: 40%;
    margin-right: 5%;
    height: 100%;
}

#Welcome .welcome_text .text_centered {
  margin: auto;
}

#Welcome .welcome_text .text_centered h5 {
  margin: 10px 10px 30px 10px;
}


/*==================================================================================
============================ EXPERIENCE SECTION ====================================
==================================================================================*/
#Experience{
    background: none;
    min-height: 100%;
}


#Experience .half_page{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin: 0% 0% 0% 1%;
    padding: 2%;
    border: 1px dashed;
}

#Experience .intro_text {
}

#Experience .show_images{
    display: inline-block;
    margin-left: 5%;
}

#Experience .images_introduction{
    display: inline-block;
    position: absolute;
    width: 50%;
    margin-left: 45%;
    margin-right: 5%;
    background: rgba(76, 175, 80, 0.3);
    height: 40% !important;
}

#Experience .container {
    position: relative;
    width: 40%;
}

#Experience .image {
    display: block;
    width: 100%;
    height: auto;
}

#Experience .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

#Experience .container:hover .overlay {
    width: 100%;
}

#Experience .text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/*==================================================================================
============================== ABOUT ME SECTION ====================================
==================================================================================*/
#AboutMe{
    background-color: rgba(216, 216, 255, 0.51);
    color: #52733B;
    min-height: 100%;
}

/* color 1: #E4EBF2;
#52733B;
#84A45A;
#818A6F;
#715E4E;
*/

/* color 1: #ABA6BF;
#595775;
#583E2E;
#F1E0D6;
#BF988F;
*/

#AboutMe .description{
    padding: 0% 8% 5% 8%;
    text-align: left;
}

#AboutMe .description h4{
    margin-bottom: 2%;
}

#AboutMe .description .showing_button{
    min-width: 120px;
    min-height: 50px;
    padding: 0% 3% 0% 3%;
}

#AboutMe .description .showing_button img:hover{
    background: #cdcdcd;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    cursor:pointer;
}

#AboutMe .description .showing_button #text_button {
    float: right;
    height: 25px;
}

#AboutMe .description .switching_content{
    min-height: 300px;
    min-width: 800px;
    position: relative;
    padding: 0% 1% 3% 1%;
}


#AboutMe .description .switching_content #left_text {
    overflow: auto;
    height: auto;
    z-index: 1 !important;
}

#AboutMe .description .switching_content #left_text img{
    align: right;
    margin: 0 2% 0 2%;
    max-width: 25%;
}

#AboutMe .description .switching_content #left_text #about_in_hockey{
    float: left;
}


#AboutMe .description .switching_content #left_text #about_in_hce{
    float: right;
}

#AboutMe .description .switching_content #divider{
    position: absolute;
    width: 10px;
    border-radius: 25px;
    background: #52733B;
}

#AboutMe .description .switching_content #divider:hover{
    background: #283717;
    cursor:pointer;
}

#AboutMe .description .switching_content #right_graph{
    position: absolute;
    top:0px;
    right:10px;
    background: black;
    overflow: hidden;
    z-index: 1 !important;
}

#AboutMe .description .switching_content #right_graph #mynetwork{
    min-width: 750px;
    height: 300px;
    border: 1px solid lightgray;
    float: right;
    background: whitesmoke;
    z-index: -1 !important;

}

#AboutMe .description p{
    color: black;
    text-align: justify;
    margin: 1% 0% 2% 0%;
    line-height: 175%;
    z-index: -1 !important;
}

.description{
    z-index: -1 !important;
}
/*
#AboutMe .carousel-inner .item .car_container{
  width: 80%;
  height: 40%;
}

#AboutMe .carousel-inner {
  background: black !important;
  z-index: -1 !important;
}
*/

/*=================================================================================
============================== CONTACT SECTION ====================================
=================================================================================*/
#Contact {
    min-height: calc(100% - var(--footer-size));
}

#Contact .w3-container{
    margin-left: 10%;
    margin-right: 10%;
    color: #52733B;
}

#Contact .w3-col{
    height: 100%;
    width: 50px;
    text-align: center;
}

#Contact .w3-button{
    color: black;
}

#Contact .waiting_mess {
      background-color: gainsboro;
}

#Contact .fa-paper-plane{
    color: #52733B;
}

#Contact .block_comm {
    background-color: black;
    opacity: 0.7;
    height: 40%;
    width: 50%;
    position: absolute;
    display: none;
}

#Contact .error_com {
  cursor: default;
}

#Contact .error_com:hover {
  background-color: gainsboro !important;
}

#Contact .message_conf{
  background-color: #52733B;
  cursor: default;
}

#Contact .message_conf:hover{
  background-color: #52733B !important;
}

#Contact .blame_form {
  border: 1px solid red !important;
}

#Contact textarea {
  margin-top: 10px;
}


/*=================================================================================
============================== FOOTER SECTION ====================================
=================================================================================*/

footer{
    --footer-size: 250px;
    max-height: var(--footer-size);
}

/* Removes the underline of hyperlink */
footer a{
    text-decoration: none;
}

footer .license{
    display: inline-block;
    margin: 0;
    padding: 0;
}

footer .license p{
    margin: 0;
    padding: 0;
}

.menu.responsive{
    display: none;
}


/*=================================================================================
======================= MENU INSPIRED FROM FULLPAGEJS =============================
=================================================================================*/
#welcome_menu {
    position:absolute;
    width:100%;
    top:0;
}

#menu{
    position:fixed;
    top: 0;
    left:0;
    height: 40px;
    width: 100%;
    padding: 0;
    margin:0;
}

#menu li {
    display:inline-block;
    margin: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#menu li a{
    text-decoration:none;
    color: #fff;
    padding: 9px 18px;
    display:block;
}

#menu li:hover{
    background: rgba(255, 255, 255, 0.7) !important;;
}

#menu li a:hover{
    color: rgba(0, 0, 0, 1);
    background: rgba(0, 0, 0, 0.2) !important;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
