/* personal_website.css Jul 2017 by Marcos Bernal */
@CHARSET "ISO-8859-1";

/* Removing scrollbars in all body of html */
::-webkit-scrollbar {
    display: none;
}

/* Font for the text
* --------------------------------------- */
h1, h2, h3, h4, p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h4 {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 2.5em !important;
}

/* Font for the text
* --------------------------------------- */
body, html {
    height: 100%;
    line-height: 1.8;
}

p {
    margin-top: 1%;
    margin-botton: 1%;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.text_centered{
   margin: 0px auto;
}

.hidden {
    display: none !important;
}


/*==================================================================================
============================== WELCOME SECTION =====================================
==================================================================================*/
#Welcome, #Welcome2{
    background-image: url('../imgs/me_and_bike_HDR_reduced_pasteu_6b.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

#Welcome .text_introduction{
    display: inline-block;
    position: absolute;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    max-width: 35%;
    min-height: 75% !important;
    background: rgba(176, 75, 80, 0.3);
}

#Welcome .images_introduction{
    display: inline-block;
    position: absolute;
    width: 50%;
    margin-left: 45%;
    margin-right: 5%;
    background: rgba(76, 175, 80, 0.3);
    height: 40% !important;
}

#Welcome .container {
     position: relative;
     width: 40%;
 }

#Welcome .image {
    display: block;
    width: 100%;
    height: auto;
}

#Welcome .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

#Welcome .container:hover .overlay {
    width: 100%;
}

#Welcome .text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/*==================================================================================
============================ EXPERIENCE SECTION ====================================
==================================================================================*/
#Experience{
    background: none;
}

/*==================================================================================
============================== ABOUT ME SECTION ====================================
==================================================================================*/
#AboutMe{
    background-image: url('../imgs/me_and_bike_HDR_reduced_pasteu_6b.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

#AboutMe .description{
    padding-left: 8%;
    padding-right: 8%;
    text-align: left;
}

#AboutMe .description p{
    color: black;
    text-align: justify;
    font-size: 1em;
}

#AboutMe .show_images{
    display: inline-block;
    margin-left: 5%;
}

/*
===================================================================================
============================== CONTACT SECTION ====================================
=================================================================================*/


#Contact .w3-container{
    margin-left: 10%;
    margin-right: 10%;
}

#Contact .w3-col{
    height: 100%;
    width: 50px;
    text-align: center;
}


.menu.responsive{
    display: none;
}


/*=================================================================================
======================= MENU INSPIRED FROM FULLPAGEJS =============================
=================================================================================*/
#welcome_menu {
    position:absolute;
    width:100%;
    z-index:1;
    top:0;
}

#menu{
    position:fixed;
    top: 0;
    left:0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
}

#menu li {
    display:inline-block;
    margin: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#menu li a{
    text-decoration:none;
    color: #fff;
    padding: 9px 18px;
    display:block;
}

#menu li:hover{
    background: rgba(255, 255, 255, 0.7) !important;;
}

#menu li a:hover{
    color: rgba(0, 0, 0, 1);
    background: rgba(0, 0, 0, 0.2) !important;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

