/* personal_website.css Jul 2017 by Marcos Bernal */
@CHARSET "ISO-8859-1";

@media only screen and (min-width: 910px) {
  /*
  #aboutme_carousel {
      display: none;
    }
    */
}

@media only screen and (max-width: 900px) {

  #Welcome .welcome_text {
    min-width: 300px;
  }

  #Experience .w3-half{
    width: 95%;
  }

  #AboutMe .description .showing_button {
    display: none;
  }

  #AboutMe .description .switching_content{
    min-width: 0;
    width: 100%;
    height: auto;
  }

  #AboutMe .description .switching_content #left_text{
    position: relative;
    display: block;
    width: 100%;
  }

  #AboutMe .description .switching_content #divider{
    display: none;
  }

  #AboutMe .description .switching_content #right_graph{
    position: relative !important;
    width: 100% !important;
    top:auto !important;
    min-width: 0 !important;
    height: auto !important;
    margin-top: 20px;
  }

  #AboutMe .description .switching_content #right_graph #mynetwork{
    position: relative !important;
    width: 100% !important;
    min-width: 0 !important;
    margin: 0 !important;
    height: auto !important;
  }

  #AboutMe img{
    max-width: 70% !important;
    margin: 20px !important;
    margin-left: 15% !important;
    max-height: auto !important;
    float: none !important;
  }

}

@media screen and (max-width: 815px) {

  #nav_menu .aux_black_bar{
    height: 50px;
    width: 100%;
    background: black;
    position: fixed;
    opacity: 0.9;
    z-index: 1060;
    display:block;
  }

  #nav_menu .w3-bar {
    display: none;
  }

  #Welcome #version_overview {
      margin-bottom: 40px;
  }

}


@media screen and (max-width: 800px) {
  #Welcome{
      background: url('../imgs/me_and_bike_HDR_reduced_pasteu_6b_small_vertical.jpg') ;
  }
}


@media screen and (max-width: 600px) {

    /*
    #aboutme_carousel img{
        width: 400px;
        height: 280px;
    }*/

    #CookieWarning span {
      display: block;
    }

    #Welcome .welcome_text{
       min-width: 230px;
       margin-right: 0%;
       margin-left: 2%;
    }

    #Welcome .no_small_screen {
      display: none;
    }

    #Welcome .welcome_text .text_centered h5 {
        margin: 5px 5px 15px 5px;
    }

    #AboutMe .show_images{
        display: block !important;
        width: 60% !important;
        margin-left: auto;
        margin-right: auto !important;
        margin-bottom: 5%;
    }

    #Contact #contact_form .w3-half .prev_row_half{
      margin-bottom: 0px !important;
    }

}

@media only screen and (max-width: 440px) {

    #Welcome{
        background: url('../imgs/me_and_bike_HDR_reduced_pasteu_6b_vertical_059.jpg') ;
    }

    #AboutMe .description .switching_content #right_graph{
      display: none;
    }

    #AboutMe img {
      display: none;
    }
}

@media only screen and (max-width: 300px) {
    footer {
      --footer-size: 350px;
    }
}
